section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 1%;
    grid-row-gap: 3%;
    align-items: center;
    justify-items: center
}
