.singleMovieBox {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  width: 90vw;
}

.backdrop {
  height: 75%;
}

.all-movie-details{
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: -15%;
}

.single-poster {
  width: 20%;
  box-shadow: 10px 5px 5px #292e4796;
}

.movie-details {
  align-items: center;
  background-color: #d9d2cffa;
  box-shadow: 10px 5px 5px #292e4796;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  height: 90%;
  justify-content: flex-start;
  overflow: auto;
  width: 75%;
}

.title {
  margin-bottom: 0;
}

.overview {
  font-size: 1.2em;
  margin: 2%;
  margin-bottom: 0px;
  text-align: center;
}
