.header-container {
  align-items: center;
  background-image: url('../../assets/headerBackground.png');
  background-size: 100vw 45vh;
  display: flex;
  width: 100vw;
  height: 43vh;
  justify-content: center;
  margin-bottom: 1%;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 11vh;
  text-shadow: 2px 3px 8px #502b2b;
}

.o {
  color: #CD1111;
}
