.header-container {
  background-image: url('../../assets/headerBackground.png');
  background-size: cover;
  display: flex;
  width: 100vw;
  height: 45vh;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 4.5em;
}

.o {
  color: #CD1111;
}
